@import url(https://fonts.googleapis.com/css?family=Raleway);

  body {
    background:#595959;
    font-family: sans-serif;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
  }
  main {
    max-width: 900px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
  }
  /* Styling for link buttons on top right of the page. To have them in a list and also coloured overlay borders */
  nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
     
    float:right;
    list-style: none;
    display: flex;
    color: mediumspringgreen;
  }

  li {  
    margin-right: 3rem;
  
  }
 
  
  /* These are the hyperlinks css for the nav bar - Home, about, locations and blog. Although colour change hover isnt working */
 
  a:link {
    color: mediumspringgreen;
    text-decoration: none;
  }
  a:hover {
    color: rgb(255, 105, 180);
    text-decoration: none;
    border: 2px solid  mediumspringgreen;
    padding: 0.3rem 0.3rem;
    border-radius: 15px;
  }
  
  a:visited {
    color:  mediumspringgreen;
    text-decoration: none;
  }
  
  
/* This is the css for the header/Van heroes header image and nav bar */

  .inner, #wrap {
    width:100%;
    margin:auto;
    
    padding: 20px;
    border-radius: 20px;
  }
  

  H1{
margin-top: 6.5rem;

  }
  /* .data-input{
      
  } */

  
#regForm {
  background-color: #595959;
  border-style: solid;
  border-color: mediumspringgreen;
  border-radius: 10px;
  margin: 80px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h3 {
  text-align: center; 
  font-size: 25px;
  font-weight: bold; 
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: mediumspringgreen;
  color: #595959;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* The Css styling for the circles saying which step youre on */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: springgreen;
}